<!DOCTYPE html>
<html>

<head>
    <title>
        Create Message
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Create Message: </h1>
    <form action="" method="POST">
        <label for="title">Title: </label>
        <input id="title" name="title" type="text" />
        <label for="content">Content: </label>
        <textarea id="content" name="content"></textarea>
        <button>Submit</button>
    </form>
</body>

</html>