<!DOCTYPE html>
<html>

<head>
    <title>
        Join
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Enter the secret password to become a member</h1>
    <form action="" method="POST">
        <label for="secret-password">Secret Password</label>
        <input id="secret-password" name="secret-password" type="text" />
        <button>Submit</button>
    </form>
</body>

</html>